<div class="container">
  <!-- <form action="/playgrounds" style="width: 100%; height: 50px; margin-top: 25px; margin-bottom: 15px; text-align: center; padding: 0px;" method="get"> -->
    <!-- <input type="text" placeholder="Quel est votre terrain de jeu ?" style= "width: 50%; font-size: 18px; font-style: italic; height: 100%; border: 1px; padding: 5px;"> -->

<div class="tagline">
  <h2> Découvrez les terrains autour de vous</h2>

</div>

  <div class="hidden-xs flex">
    <div class="cards">
      <div class="row">
        <% @playgrounds.each do |playground| %>
          <div class="col-xs-12 col-sm-4 card-padding">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path playground.photo, height: 300, width: 400, crop: :fill %>);">
              <div class="card-category"><%=playground.category%> <%="-"%> <%=playground.price%> <%="€/h"%></div>
              <div class="card-description">
                <h2><%=playground.title%></h2>
                <p><%=playground.address%></p>
              </div>
              <%= link_to "", playground_path(playground.id), class: "card-link"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div
      id="map"
      style="width: 100%; flex: 0 0 450px; height: 100vh; position: sticky !important; top: 0; margin-left: 15px; margin-top: 5px;"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>


  <div class="visible-xs">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">Liste</a></li>
      <li role="presentation" id="action-playground-map-xs"><a href="#carte" aria-controls="carte" role="tab" data-toggle="tab">Carte</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="list">
        <div class="row">
          <% @playgrounds.each do |playground| %>
            <div class="col-xs-12 col-sm-4">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path playground.photo, height: 300, width: 400, crop: :fill %>);">
                <div class="card-category"><%=playground.category%> <%="-"%> <%=playground.price%> <%="€/h"%></div>
                <div class="card-description">
                  <h2><%=playground.title%></h2>
                  <p><%=playground.address%></p>
                </div>
                <%= link_to "", playground_path(playground.id), class: "card-link"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="carte">
        <div
          id="map_xs"
          style="width: 100%;
          height: 600px;"
          data-markers="<%= @markers.to_json %>">
        </div>
      </div>
    </div>
  </div>

</div>




