<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <h1>Ajouter un playground</h1>

      <div class="form">
        <%= simple_form_for @playground do |f| %>
          <%= f.input :title, label: 'Titre' %>
          <%= f.input :description, label: 'Description' %>
          <%= f.label :category, label: 'Catégorie'%>
          <%= f.select :category, options_for_select(%w[Piscine Tennis Basketball Pingpong Pétanque]), prompt:"-- Catégorie --" %>
          <%= f.input :address, label: 'Adresse' %>
          <%= f.input :price, label: 'Prix' %>
          <%= f.input :photo, label: 'Ajouter une photo' %>

          <%= f.submit "Ajouter un playground", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
</div>
