<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <h1>Ajouter un playground</h1>

      <div class="form">
        <%= simple_form_for @playground do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :category %>
          <%= f.input :address %>
          <%= f.input :price %>
          <%= f.input :photo %>

          <%= f.submit "Ajouter un playground", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
</div>
