<!-- BANNER -->

<div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @playground.photo, crop: :fill %>')">
  <div class="card-category "><%= @playground.category %></div>
  <div class="card-description ">
    <h1>  <%= @playground.title %></h1>
    <h2> <%= @playground.address %></h2>
  </div>
  <div class="img-user-show text-center">
    <% if @playground.user.photo.file.nil? %>
      <% proprio_avatar = 'user' %>
    <% else %>
      <% proprio_avatar = @playground.user.photo %>
    <% end %>
    <%= cl_image_tag proprio_avatar, class: "avatar-large" %>
  </div>
</div>

<!-- CONTENT -->


<div class="show-content">

  <div class="show-playground">
    <div class="show-description">
      <h2>Ce playground en détail</h2>
      <%= @playground.description %>
      <div class="show-price">
        Prix: <%= @playground.price %> €/h
      </div>
    </div>
   <div class="show-btn">
    <%= link_to "Retourner à la liste", playgrounds_path, class: "btn " %>
    </div>
  </div>

  <div class="show-calendar">
      <div >
      <h2>Votre réservation</h2>
      </div>

      <div >
      <%= simple_form_for [@playground, @reservation] do |f| %>
        <div class="form-inputs " >
          <%= f.input :date_begin, as: :string, required: false, label: "Début" %>
          <%= f.input :date_end, as: :string, required: false, label: "Fin" %>
        </div>

        <div class="form-actions ">
          <%= f.submit "Réserver", class: "main-button btn" %>
        </div>

      <% end %>
      </div>

  </div>

</div>

<div class="show-review border-top-grey">
  <h1>Avis des utilisateurs</h1>
  <h2 class="text-center">- <%= pluralize @playground.reviews.size, "commentaire" %> -
  </h2>


  <div id="reviews">
    <% if @playground.reviews.blank? %>

      Soyez le premier à laisser un commentaire à <%= @playground.user.first_name %> - <%= @playground.title %>
    </div>
    <% else %>

      <% @playground.reviews.each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>

    <% end %>
    </div>
  </div>
<div class="show-review">
<%= render 'reviews/form', playground: @playground, review: @review %>
</div>



