<div class="show-general">
<h1><%= @playground.title %></h1>

<div class="show" style="background-image: url('<%= cl_image_path @playground.photo, crop: :fill %>')">
</div>

<p>Le propriétaire :</p>
<div class="img-user-show text-center">
  <% if @playground.user.photo.file.nil? %>
    <% proprio_avatar = 'user' %>
  <% else %>
    <% proprio_avatar = @playground.user.photo %>
  <% end %>
    <%= cl_image_tag proprio_avatar, class: "avatar-large" %>
  </div>
  <%= @playground.user.first_name.capitalize %>
  <%= @playground.user.last_name.capitalize %>
</div>
<!--  -->


<div class="show-category"><%= @playground.category %></div>
<!--  -->
<div class="show-price"><%= @playground.price %> €/h</div>
<!--  -->

<div class="show-address"><%= @playground.address %></div>
<!--  -->

<div class="show-description"> <%= @playground.description %> </div>
<!--  -->

<!-- <img class="show-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
<!-- <a class="show-link" href="#" ></a>
 -->

</div>
<div class="resa-embeded">
  <h1>Réserver maintenant!</h1>
<%= render 'shared/form_resa', reservation: @reservation %>

<%= link_to "Retour à la liste", playgrounds_path, class: "btn btn-default" %>
</div>

