<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @playgrounds.each do |playground| %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path playground.photo, height: 300, width: 400, crop: :fill %>);">
          <div class="card-category"><%=playground.category%> <%=playground.price%></div>
          <div class="card-description">
            <h2><%=playground.title%></h2>
            <p><%=playground.address%></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ><%= link_to "", playground_path(playground.id) %></a>
        </div>
    </div>
  </div>
</div>


