
<div class="container">
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs tab-general tab-color" role="tablist">
    <% if @page == "profile" %>
      <li role="presentation" class="active" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mon profil</a></li>
    <% else %>
      <li role="presentation" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mon profil</a></li>
    <% end %>

    <% if @page == "resa" %>
      <li role="presentation" class="active"><a href="#resa" aria-controls="resa" role="tab" data-toggle="tab">Mes réservations</a></li>
    <% else %>
      <li role="presentation"><a href="#resa" aria-controls="resa" role="tab" data-toggle="tab">Mes réservations</a></li>
    <% end %>

    <% if @page == "playground" %>
      <li role="presentation" class="active"><a href="#playgrounds" aria-controls="playgrounds" role="tab" data-toggle="tab">Mes playgrounds</a></li>
    <% else %>
      <li role="presentation"><a href="#playgrounds" aria-controls="playgrounds" role="tab" data-toggle="tab">Mes playgrounds</a></li>
    <% end %>

  </ul>



 <!-- Tab panes -->
  <div class="tab-content">

<% if @page == "profile" %>
      <div role="tabpanel" class="tab-pane active" id="profile">
<% else %>
      <div role="tabpanel" class="tab-pane" id="profile">
<% end %>
<!-- TAB PROFILE -->
      <div class="profile">
        <div class="info">
          <% if current_user.photo.file.nil? %>
            <% user_avatar = 'user' %>
          <% else %>
            <% user_avatar = current_user.photo %>
          <% end %>
          <p> <%= cl_image_tag user_avatar, class: "avatar-large" %></p>
          <p> <%= current_user.first_name.capitalize %></p>
          <p> <%= current_user.last_name.capitalize %></p>
          <p> <%= current_user.email %></p>
        </div>
      </div>
      <%= link_to "Modifier mon profil", edit_user_path(current_user), class: 'btn btn-default' %>
    </div>

<!-- TAB RESERVATION -->
<% if @page == "resa" %>
    <div role="tabpanel" class="tab-pane active" id="resa">
<% else %>
    <div role="tabpanel" class="tab-pane" id="resa">
<% end %>
      <div class="row">
      <% if Reservation.where(user: current_user) == []%>
        <p class="msg">Vous n'avez pas encore de réservation</p>
      <%else %>
      <div class="reservation-dash">
        <div class="reservation-user text-center title">
          <h2>Playground</h2>
        </div>
        <div class="reservation-user text-center title">
          <h2>Proprietaire</h2>
        </div>

        <div class="reservation-date text-center  title">
          <h2> Dates </h2>
        </div>

        <div class="reservation-status text-center  title">
          <h2>Statut</h2>
        </div>
      </div>


        <% Reservation.where(user: current_user).each do |reservation| %>
        <div class="reservation-dash">
          <div class="reservation-user">
            <p><%= reservation.playground.title %></p>
          </div>
          <div class="reservation-user">
            <div class="img-user">
              <% if reservation.playground.user.photo.file.nil? %>
                <% proprio_avatar = 'user' %>
              <% else %>
                <% proprio_avatar = reservation.playground.user.photo %>
              <% end %>
              <p> <%= cl_image_tag proprio_avatar, class: "avatar-large" %></p>
            </div>
            <p><%= reservation.playground.user.first_name.capitalize %></p>
            <p><%= reservation.playground.user.last_name.capitalize %></p>
          </div>
          <div class="reservation-date text-center">
            <p> Reservation du : <%= reservation.date_begin %> au : <%= reservation.date_end %></p>
          </div>
          <div class="reservation-status">


            <% if reservation.status == "Validé" %>
              <% color = "status confirm" %>
            <% elsif reservation.status == "Refusé" %>
              <% color = "status decline"%>
            <% else %>
              <% color = "status pending"%>
            <% end %>

            <p class="<%=color%>"><%=reservation.status%></p>


          </div>
        </div>
        <% end %>
      <% end %>
  </div>

</div>

<!-- TAB PLAYGROUND -->
<% if @page == "playground"  %>
<div role="tabpanel" class="tab-pane active" id="playgrounds">
<% else %>
<div role="tabpanel" class="tab-pane" id="playgrounds">
<% end %>


  <% if Playground.where(user:@user) == []%>
    <p class="msg">Vous n'avez pas encore ajouté de playground</p>
  <%else %>

<h2> Réservations de mes playgrounds en cours : </h2>
    <div class="row">
      <div class="reservation-dash">
        <div class="reservation-playground reservation-user text-center title">
          <h2>Playgrounds</h2>
        </div>
        <div class="reservation-user text-center title">
          <h2>Locataire</h2>
        </div>
        <div class="reservation-date text-center title">
            <h2> Dates </h2>
        </div>
        <div class="reservation-status text-center title">
            <h2>Validation</h2>
        </div>
      </div>

      <% Reservation.all.each do |reservation| %>
        <% if reservation.playground.user == current_user  %>
          <div class="reservation-dash">
            <div class="reservation-playground reservation-user">
              <p><%= reservation.playground.title %></p>
            </div>
            <div class="reservation-user">
              <div class="img-user">
                <% if reservation.user.photo.file.nil? %>
                  <% locataire_avatar = 'user' %>
                <% else %>
                  <% locataire_avatar = reservation.user.photo %>
                <% end %>
                <%= cl_image_tag locataire_avatar, class: "avatar-large" %>
              </div>
              <p><%= reservation.user.first_name.capitalize %></p>
              <p><%= reservation.user.last_name.capitalize %></p>
            </div>
            <div class="reservation-date text-center">
              <p> Reservation du : <%= reservation.date_begin %> au : <%= reservation.date_end %></p>
            </div>
            <div class="reservation-status text-center">

              <%= simple_form_for reservation do |f| %>
                <%if reservation.status == 'En attente' %>
                  <%= f.input_field :status,  as: :radio_buttons, collection: ['Validé', 'Refusé'], label: false %>
                  <%= f.submit "Changer le statut", class: "btn btn-default" %>
                <% else %>
                  <%if reservation.status == 'Validé' %>
                  <i class="fas fa-check-circle confirm"></i>
                  <% else %>
                  <i class="fas fa-times-circle decline"></i>
                  <% end %>
                <% end %>
              <% end %>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <h2> Accéder à mes playgrounds  </h2>

    <div class="row">
      <% Playground.where(user:@user).each do |playground| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card card-dash" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path playground.photo, height: 300, width: 400, crop: :fill %>);">
            <div class="card-category"><%=playground.category%> <%="-"%> <%=playground.price%> <%="€/h"%>
            </div>
            <div class="card-description links-on-card">
              <h2> <%= link_to playground.title, playground_path(playground.id)%></h2>
              <p><%=playground.address%></p>
            </div>
            <div class="links-on-card position-card">
                <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_playground_path(playground.id) %>
                <%= link_to playground_path(playground.id),  method: :delete,
                          data: { confirm: "Are you sure?" } do %>
                            <i class="far fa-trash-alt"></i>
                            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end%>

  <%= link_to "Ajouter un playground", new_playground_path, class: "btn" %>

</div>


<!-- fin des tabs   -->
</div>
</div>
