<div class="navbar-wagon">
  <!-- Logo -->
   <%= link_to root_path, class: "navbar-wagon-brand" do %>
    PLAYGROUND
    <%#= image_tag "logo.png", height: 50 %>
  <% end %>


  <!-- Right Navigation -->

    <% if user_signed_in? %>

<!-- LARGE DEVICE -->

  <div class="navbar-wagon-right hidden-xs hidden-sm">
     <%= link_to playgrounds_path, class: "navbar-wagon-item navbar-wagon-link" do %>
          <i class="fas fa-search"></i> Search a playground
          <% end %>



      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.photo.file.nil? %>
            <% user_avatar = 'user.jpg' %>
          <% else %>
            <% user_avatar = current_user.photo %>
          <% end %>
          <%= cl_image_tag user_avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>


          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li class= "border-bottom welcome"> Welcome <%= current_user.first_name %></li>
            <li><%= link_to "My profile", user_path(current_user) %></li>
            <li><%= link_to "My reservations", user_path(current_user) %></li>
            <li><%= link_to "My playgrounds", user_path(current_user) %></li>
            <li> <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
            </li>
          </ul>

        </div>
      </div>
  </div>


  <!-- SMALL DEVICE -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <% if current_user.photo.file.nil? %>
        <% user_avatar = 'user.jpg' %>
      <% else %>
        <% user_avatar = current_user.photo %>
      <% end %>
      <%= cl_image_tag user_avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li class= "border-bottom welcome"> Welcome <%= current_user.first_name %></li>
        <li> <%= link_to playgrounds_path, class: "border-bottom" do %>
          <i class="fas fa-search"></i> Search playground
          <% end %>
        </li>
        <li><%= link_to "My profile", user_path(current_user) %></li>
        <li><%= link_to "My reservations", user_path(current_user) %></li>
        <li><%= link_to "My playgrounds", user_path(current_user) %></li>
         <li><%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
          </li>
      </ul>
    </div>
  </div>

    <%else %>
        <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>


    <% end %>

</div>
